extends ../layout

block include
	meta(name="description" content="Bruroma è un'azienda specializzata nella lavorazione dell' acciaio inox e nella" +
	" ricerca di soluzioni innovative. Scrivici a info@bruroma.com per chiederci un preventivo.")

block content

	// menu

	div#menu-row
		div#menu-wrapper.large.fade
			a(href="#home")
				div#logo
			div#phone-icon
			a#phone(href="tel:+39 0438 430376") +39 0438 430376
			div#menu
				ul
					li
						a(href="#about") chi siamo
					li
						a(href="#working-description") lavorazioni
					li
						a(href="#contacts") contatti

	// header
	div#header
		div.video-container
			div.video-wrapper
				iframe(src="https://www.youtube.com/embed/pqUDw-C0A0M?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;vq=hd1080&amp;playlist=pqUDw-C0A0M")
		div#header-overlay
			div#header-logo(alt="Bruroma logo")

	// about
	div#about.section.first-section
		div.wrapper.inner-section
			h1.title-section Chi siamo
			div.line-section(style="margin-left: 34%; width: 31%")
			div.description-section
				p.
					Situata nel nord est Italia nel cuore della Inox valley, Bruroma é un' azienda leader nella
					lavorazione dell' acciaio inox che fa della qualità il suo punto di forza.
				br
				p.
					Grazie agli oltre 30 anni nel settore, abbiamo acquisito la conoscenza e l' esperienza necessarie
					per tradurre il progetto del cliente in un prodotto di elevato livello costruttivo.
				br
				p.
					La costante ricerca di soluzioni migliori ci ha spinto a studiare e brevettare tecnologie
					proprie che permettono ai nostri clienti di usufruire di soluzioni originali e all' avanguardia.

	// Manufacturing
	div#working.main-section
		div.section
			div.center-fix
				div.wrapper.inner-section
					h1.title-section punti di forza
					div.line-section(style="margin-left: 30%; width: 39%")
					div.description-section
						h3 Tecnologie all' avanguardia
						p.
							Crediamo fermamente che la tecnologia sia un fattore importante nella realizzazione di un
							prodotto che rispetti ogni esigenza del cliente. Per questo motivo da sempre investiamo
							nelle tecnologie più avanzate e questo ci permette di crescere.

						h3 Le persone
						p.
							In oltre 30 anni di esperienza abbiamo progettato diverse tipologie di prodotto e sperimentato
							molte tecniche di produzione. Grazie a queste conoscenze proponiamo al cliente
							migliorie nella realizzazione del prodotto.

						h3 Ciclo produttivo completo e flessibile
						p.
							Il nostro ciclo produttivo parte dalla progettazione per arrivare al prodotto richiesto.
							La nostra struttura ci permette di spaziare dalla realizzazione di singoli pezzi alla
							costruzione di grandi impianti e strutture su misura.

	// Working descriptions
	div#working-description.main-section
		//	technical office
		div#technical.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section Progettazione
					div.description-section
						p.
							Analizziamo e sviluppiamo i disegni del cliente per ottimizzare la produzione e ridurre
							i costi.
						p.
							Usiamo la nostra esperienza unita ai più avanzati software CAD-CAM 3D per proporre una
							soluzione ottimale.
						p.
							Grazie alla nostra capacità di modellazione della lamiera siamo capaci di trasformare le
							idee in progetti.

		//	Laser cut
		div#lasercut.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section taglio laser
					div.description-section
						p.
							La tecnologia laser consente di raggiungere elevati livelli di precisione nel taglio di
							lamiere di diversi materiali e spessori ed ottimizzare l'utilizzo delle lamiere riducendo
							gli scarti. Oltre al taglio è possibile inoltre incidere disegni personalizzati e testi.
						div.details
							h3 Caratteristiche
							p
								b campo di lavoro:
								span &nbsp; 4000x2000mm.
							p
								b spessore acciaio inox:
								span &nbsp; max 20mm
							p
								b spessore alluminio:
								span &nbsp; max 12mm
							p
								b spessore ferro:
								span &nbsp; max 25mm
							p
								b spessore ottone:
								span &nbsp; max 5mm

		//	Stamping
		div#punching.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section punzonatura
					div.description-section
						p.
							Grazie alla punzonatura possiamo tagliare e forare lamiere metalliche di spessore fino
							a 3mm. Questo consente di ridurre in termini di tempo e costo alcune lavorazioni della
							lamiera.
						p.
							Possiamo anche effettuare lavorazioni di taglio e sagomatura particolari in modo veloce
							grazie all'utilizzo di appositi stampi.

		//	Bending
		div#bending.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section piegatura
					div.description-section
						p.
							Le presse piegatrici con lunghezza di 4000 mm e fino a 170 tonnellate di pressione
							consentono di effettuare un' ampia gamma di lavorazioni su lamiere di piccole e grandi
							dimensioni con estrema precisione. Ad esempio possiamo produrre scatolati fino ad un altezza
							di 600mm.
						p.
							Con la nostra esperienza proponiamo al cliente uno sviluppo ottimale della lamiera
							che consenta di ridurre al minimo la necessità di effettuare operazioni di saldatura.
							La piegatura infatti consente di ottenere una lavorazione più resistente e abbatte i costi
							di produzione.

		//	Welding & polishing
		div#welding.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section saldatura e pulitura
					div.description-section
						p.
							Grazie all' esperienza e alla professionalità del personale specializzato garantiamo una
							saldatura di altissima qualità su qualsiasi tipo di prodotto, di grandi o di piccole
							dimensioni.
						p.
							Per ottenere un elevata finitura anche dal punto di vista estetico disponiamo della
							strumentazione necessaria per la pulitura e la lucidatura dell' acciaio.

	//	Contacts
	div#contacts.section
		div.wrapper.inner-section
			div.title-section Contattaci
			div.line-section(style="margin-left: 34%; width: 31%")
			div.description-section
				p Bru.ro.ma. srl
				p Via Leonardo Da Vinci, 2
				p 31010 Godega di Sant' Urbano (TV)
				br
				p Tel.
					b &nbsp; +39 0438 430376
				p Fax
					b &nbsp; +39 0438 430396
				p Mail
					b &nbsp; info@bruroma.com
			div#contacts-map.content-container.embed-container.maps
				div.overlay-map(onClick="style.pointerEvents='none'")
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2775.158707111446!2d12.378642099999992!3d45.928127700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47796ca36443939f%3A0xf7a59b680b8f9006!2sBru.ro.ma.+S.r.l.!5e0!3m2!1sen!2sit!4v1441376814275" frameborder="0" style="border:0")

	// footer
	div#footer.section
		div.wrapper.inner-section
			div#footer-logo(alt="Bruroma logo")
			div.description-section
				p © Copyright 2015 - Bru.ro.ma. srl
				p Reg.Impr.TV/C. F/P I.V.A.: 00846780260, Cap.Soc. € 100.000 i.v. REA TV: 166846
				br
				p Designed by&nbsp;
					a(href="http://www.inkofpixel.com") inkOfPixel
	div#footer-bottom
