extends layout

block include
	meta(name="description" content="Bruroma is a company specialized in stainless steel manufacturing that focus on " +
	"high quality standards and on design of innovative solutions. Write us at info@bruroma.com")

block content

	// menu

	div#menu-row
		div#menu-wrapper.large.fade
			a(href="#home")
				div#logo
			div#phone-icon
			a#phone(href="tel:+39 0438 430376") +39 0438 430376
			div#menu
				ul
					li
						a(href="#about") who we are
					li
						a(href="#working-description") manufacturing
					li
						a(href="#contacts") contacts

	// header

	div#header
		div.video-container
			div.video-wrapper
				iframe(src="https://www.youtube.com/embed/pqUDw-C0A0M?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;vq=hd1080&amp;playlist=pqUDw-C0A0M")
		div#header-overlay
			div#header-logo(alt="Bruroma logo")

	// about

	div#about.section.first-section
		div.wrapper.inner-section
			h1.title-section who we are
			div.line-section(style="margin-left: 34%; width: 31%")
			div.description-section
				p.
					Located in the heart of Inox Valley, Bruroma in a company leader in stainless steel manufacturing.

				p.
					We focus on high quality standard and on design of innovative solutions. Thanks to our 30-year
					experience we acquired the know-how that allow us to transform our customers projects in high
					quality products.
				p.
					The continuing search for better solutions lead us to patent our own techniques that allows our
					customers to benefit of cutting-edge solutions.



	// Manufacturing

	div#working.main-section
		div.section
			div.center-fix
				div.wrapper.inner-section
					h1.title-section Strenghts
					div.line-section(style="margin-left: 30%; width: 39%")
					div.description-section
						h3 Advanced Technologies
						p.
							At Bruroma we believe that technology is a key factor to continuously improve our work and
							always meet every customer requirements. For this reason we keep investing in advanced
							technologies, and this let us growth.

						h3 People
						p.
							Along 30 years of experience we have designed and developed a wide variety of products and
							we have experimented different techniques. Thanks to this know-how we propose to our customers
							the best solution to develop the product.

						h3 Complete and Flexible Workflow
						p.
							Our workflow starts with the design of the product and ends with the final product. Our
							structure let us manufacture both single pieces and large custom structures.

	// Working descriptions
	div#working-description.main-section

		//	technical office

		div#technical.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section design
					div.description-section
						p.
							We analyze and develop our customers projects to optimize the manufacturing and reduce the
							costs.
						p.
							We use our experience complemented with advanced 3D CAD-CAM software to offer the best
							solution.
						p.
							Thanks to our ability to model sheet metal we are able to translate customers ideas in
							high quality final products.

		//	Laser cut

		div#lasercut.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section laser cut
					div.description-section
						p.
							Laser technology allow us to obtain high levels of precision when cutting sheets of different
							materials and thicknesses and to optimize the usage of sheet reducing the waste of material.
							It is also possible to engrave custom drawings and texts.
						div.details
							h3 Features
							p
								b field of work:
								span &nbsp; 4000x2000mm.
							p
								b stainless steel thickness:
								span &nbsp; max 20mm
							p
								b aluminum thickness:
								span &nbsp; max 12mm
							p
								b iron thickness:
								span &nbsp; max 25mm
							p
								b brass thickness:
								span &nbsp; max 5mm

		//	Punching

		div#punching.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section Punching
					div.description-section
						p.
							Thanks to punching we can cut and pierce sheet metal up to 3mm thickness. This allows us to
							recude some manufacturing by mean of time and cost.
						p.
							Moreover, we can quickly realize particular molding manufacturing using special molds.

		//	Bending

		div#bending.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section bending
					div.description-section
						p.
							We have bending machines that with a length of 4000mm and up to 170 tons of pressure allow
							us to realize a wide variety of manufacturing on both small and large sheets metal with
							extreme precision. For example, we can build box containers up to 600mm height.
						p.
							Thanks to our experience we offer to our customers an optimal design that reduce the need
							of weldings. Bending has the benefit of make the manufacture more resistant and to reduce
							production costs.

		//	Welding & polishing

		div#welding.section
			div.section-overlay
				div.wrapper.inner-section
					h2.title-section welding & polishing
					div.description-section
						p.
							Thanks to the expertise of our specialised personnel we guarantee an high quality welding
							with any kind of product, both of small or large dimensions.
						p.
							To achieve also an high aesthetic finishing we are equipped with the required tools to clean
							and polish the stainless steel.

	//	Contacts
	div#contacts.section
		div.wrapper.inner-section
			div.title-section Contact us
			div.line-section(style="margin-left: 34%; width: 31%")
			div.description-section
				p Bru.ro.ma. srl
				p Via Leonardo Da Vinci, 2
				p 31010 Godega di Sant' Urbano (TV)
				br
				p Tel.
					b &nbsp; +39 0438 430376
				p Fax
					b &nbsp; +39 0438 430396
				p Mail
					b &nbsp; info@bruroma.com

			div#contacts-map.content-container.embed-container.maps
				div.overlay-map(onClick="style.pointerEvents='none'")
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2775.158707111446!2d12.378642099999992!3d45.928127700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47796ca36443939f%3A0xf7a59b680b8f9006!2sBru.ro.ma.+S.r.l.!5e0!3m2!1sen!2sit!4v1441376814275" frameborder="0" style="border:0")

	// footer
	div#footer.section
		div.wrapper.inner-section
			div#footer-logo(alt="Bruroma logo")
			div.description-section
				p © Copyright 2015 - Bru.ro.ma. srl
				p Reg.Impr.TV/C. F/P I.V.A.: 00846780260, Cap.Soc. € 100.000 i.v. REA TV: 166846
				br
				p Designed by&nbsp;
					a(href="http://www.inkofpixel.com") inkOfPixel

	div#footer-bottom
