doctype html
html
	head
		title= title

		// Meta content
		meta(name="author" content="inkOfPixel, info@inkofpixel.com")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")

		block include

		// Favicon
		link(rel="shorcut icon" href="images/favicon.png" type="favicon")

		// Stylesheets
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')

		// Scripts
		script(src="javascripts/jquery-1.11.3.js")
		script(src="javascripts/d3.js")
		script(src="javascripts/script.js")

		script(type='text/javascript').
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function () {
							(i[r].q = i[r].q || []).push(arguments)
						}, i[r].l = 1 * new Date();
				a = s.createElement(o),
						m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-28251380-4', 'auto');
			ga('send', 'pageview');

	body
		block content
