@font-face {
	font-family: blender;
	src: url(../font/BlenderBook.otf);
}

body{
	font-family: 'blender',sans-serif;
	overflow-x: hidden;
	/*–webkit-overflow-scrolling: touch*/

}

body > * {
	/*-webkit-transform: translate3d(0,0,0);*/
	-webkit-backface-visibility: hidden;
}

html {
	overflow-x: hidden;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-align: center;
}

#working h3 {
	color: #0071bb;
	font-size: 16px;
}

p {
	margin: 0;
	padding: 0;
}

a {
  color: #333;
  text-decoration: none; /* no underline */
    -webkit-transition: color .25s;
  	   -moz-transition: color .25s;
  		 -o-transition: color .25s;
  			transition: color .25s;
}


a:hover {
  color: #0071bb;
  text-decoration: none; /* no underline */
    -webkit-transition: color .25s;
  	   -moz-transition: color .25s;
  		 -o-transition: color .25s;
  			transition: color .25s;
}


b{
	color: #0071bb;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	z-index: 100;
	position: relative;
}

#menu-row {
	width: 100%;
	position: fixed;
	height: 80px;
	z-index: 999;
	/*overflow: hidden;*/
}

#menu-row.large {
	background-color: rgba(0,0,0,0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#menu-row.small {
	background-color: rgba(255,255,255,0.93);
	border-bottom: solid 1px #e6e6e6;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	overflow: hidden;
}

#menu-wrapper {
	width: 100%;
	position: fixed;
	height: 80px;
	margin-top: 60px;
}

#menu-wrapper.small {
	margin-top: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#menu-wrapper.large {
	margin-top: 60px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#menu {
	text-align: center;
	width: 100%;
	height: 120px;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	display: block;
}

#menu ul li {
	display: inline-block;
	padding: 0;
}

#menu ul li a {
	text-decoration: none;
	display: block;
	padding: 35px 35px;
	font-family: 'Avenir', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
	white-space: nowrap;
	color: #b2b2b2;
	letter-spacing: 2px;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#menu ul li a.small {
	color: #333;
	font-weight: 500;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#menu ul li a.large {
	color: #b2b2b2;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#menu ul li a:hover {
	color: #fff;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#menu ul li a.small:hover {
	color: #0071bb !important;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#menu ul li a.large:hover {
	color: #fff !important;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#logo{
	width: 50px;
	height: 50px;
	position: fixed;
	top: 15px;
	left: 15px;
	display: none;
}

#logo.large{
	display: none;
}

#logo.small{
	background-image: url(../images/logo-icon-dark.svg);
}

#phone {
	height: 50px;
	position: fixed;
	top: 32px;
	right: 15px;
	text-align: right;
	color: #fff;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: 'Avenir', sans-serif;
	font-weight: 400;
	z-index: 99;
}

#phone {
	color: #fff;
}

#phone.large {
	color: #fff;
	font-weight: 400;
}

#phone.small {
	color: #333;
	font-weight: 600;
}

#phone-icon{
	position: fixed;
	top: 22px;
	right: 160px;
	width: 36px;
	height: 36px;
	background-image: url(../images/phone-light.svg);
}

#phone-icon.large{
	background-image: url(../images/phone-light.svg);
}

#phone-icon.small{
	background-image: url(../images/phone-dark.svg);
}

#header{
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	height: 600px;
}

.video-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 600px;
	width: 100%;
	overflow: hidden;
}

.video-wrapper {
	position: relative;
	height: 800px;
	margin-top: -100px;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#header-overlay{
	position: relative;
	background-color: rgba(0,0,10,0.5);
	width: 100%;
	height: 600px;
	z-index: 10;
}

#header-logo{

	height: 60px;
	background-size: 533px 60px;
	background: url('../images/logo-text.svg') no-repeat center;
	width: 100%;
	position: fixed;
	top: 270px;
	z-index: -1;
}
.first-section{
	margin-top: -60px;
}

.main-section {
	float: left;
	width: 100%;
}

.center-fix {
	float: left;
	width: 100%;
	position: relative;
	z-index: 100;
	transform: translate(0.5%);
	background-color: white;
}

.section{
	float: left;
	width: 120%;
	margin-left: -10%;
	padding-right: 10%;
	position: relative;
	z-index: 100;
	-ms-transform: rotate(-3.5deg); /* IE 9 */
	-webkit-transform: rotate(-3.5deg); /* Chrome, Safari, Opera */
	transform: rotate(-3.5deg);
	background-position: center;
	background-size: cover;
}


.inner-section{
	-ms-transform: rotate(3.5deg) translate(1%); /* IE 9 */
	-webkit-transform: rotate(3.5deg) translate(1%); /* Chrome, Safari, Opera */
	transform: rotate(3.5deg) translate(1%);
}

.title-section{
	width: 60%;
	margin-top: 60px;
	margin-bottom: 0;
	font-family: 'Avenir', sans-serif;
	font-size: 32px;
	letter-spacing: 0.4em;
	color: #0071bb;
	font-weight: 500;
	float: left;
	text-transform: uppercase;
	text-align: center;

	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 0;
}

.line-section{
	margin-top: 10px;
	height: 3px;
	background-color: #0071bb;
	float: left;
}

.description-section{
	padding-left: 20%;
	padding-right: 20%;
	width: 60%;
	margin-top: 40px;
	font-family: 'blender', sans-serif;
	font-weight: 200;
	font-size: 16px;
	letter-spacing: 0.02em;
	float: left;
	text-align: justify;
	margin-bottom: 70px;
	color: #333333;
}

.description-section p {
	margin-bottom: 10px;
}

.details {
	text-align: center;
}

.details p {
	margin-bottom: 0;
}

.details b {
	font-weight: 600;
	color: white;
}

#about{
	background-color: #e6e6e6;
}

#working{
	background-color: #fff;
}

#working-description .title-section,
#working-description .description-section {
	color: #fff;
}

#working-description .section{
	background-color: #e6e6e6;
}

.section-overlay{
	float: left;
	width: 100%;
	/*margin-left: -10%;*/
	position: relative;
	z-index: 100;
	background-color: rgba(0,0,0,0.7);
}

#technical{
	background-image: url("../images/techincal-drawing.jpg");
}

#lasercut{
	background-image: url("../images/lasercut.jpg");
}

#punching{
	background-image: url("../images/punching.jpg");
}

#bending{
	background-image: url("../images/bending.jpg");
}

#welding{
	background-image: url("../images/welding.jpg");
}

#contacts{
	background-color: #e6e6e6;
}

#contacts.section {
	background-color: white;
}

#contacts-map{
	width: 60%;
	float: left;
	height: 400px;
	margin: -40px 20% 60px;
}

.overlay-map {
	background:transparent;
	position:relative;
	width:100%;
	height:400px; /* your iframe height */
	top:400px;  /* your iframe height */
	margin-top:-400px;  /* your iframe height */
}

#contacts-map iframe{
	width: 100%;
	height: 400px;
}


#footer{
	background-color: #333;
}

#footer .description-section{
	color: #fff;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color:#0071bb;
}

#footer-logo{
	background: url('../images/logo-text.svg') center no-repeat;
	height: 32px;
	background-size: 280px 32px;
	width: 100%;
	float: left;
	margin-top: 100px;
}

#footer-bottom{
	float: left;
	height: 160px;
	width: 100%;
	background-color: #333;
	position: relative;
	margin-top: -64px;
}

#footer .description-section {
	text-align: center;
}

#contacts .description-section {
	text-align: center;
}

@media screen and (max-width: 1050px) {

	#menu ul li a {
		padding: 35px 8%;
	}

}

@media screen and (max-width: 960px) {

	.inner-section{
		-ms-transform: rotate(3.5deg) translate(0%); /* IE 9 */
		-webkit-transform: rotate(3.5deg) translate(0%); /* Chrome, Safari, Opera */
		transform: rotate(3.5deg) translate(0%);
	}

	.wrapper{
		float: left;
		width: 100%;
	}

	#contacts-map{
		width: 100%;
		margin: 0 0 50px 0;
	}

}

@media screen and (max-width: 880px) {

	#menu ul{
		display: none;
	}

	#contacts-map iframe {
		width: 80%;
		height: 400px;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media screen and (max-width: 768px) {

	#menu ul{
		display: none;
	}

	/*#header{*/
		/*background-image: url(../images/header.jpg);*/
	/*}*/

	/*.video-container {*/
		/*display: none;*/
	/*}*/

	#header-logo{
		background-size: 80% 60px;
	}

	.title-section{
		font-size: 24px;
	}

}

@media screen and (max-width: 500px) {

	.title-section{
		font-size: 20px;
	}

	#footer-logo{
		background-size: 80% 32px;
	}
}

@media screen and (max-width: 360px) {

	#menu-row {
		height: 50px;
	}

	#logo{
		width: 32px;
		height: 32px;
		top: 9px;
		left: 9px;
	}

	#phone{
		height: 50px;
		top: 18px;
		right: 15px;
	}

	#phone-icon{
		display: none !important;
	}

	.title-section{
		font-size: 18px;
		letter-spacing: 2px;
	}

	#footer-logo{
		background-size: 80% 32px;
	}

}
